html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    
}
.body{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin:0px auto;
}
.header{
    display: flex;
    color: white;
    justify-content: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #1f2937;
   
}
.main{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 1100px;
}
.second .main{
    display: flex;
    flex-direction: column;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    align-self: center;
    
}
.links{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

.first{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
}
 .first img{
    max-width: 300px;
    max-height: 300px;
}
.left{
    max-width: 400px;
}
.heromain{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}
.left .text{
    font-size: 18px;
    color: #E5E7EB;
}
.left .signup{
    color: #E5E7EB;
    background-color: #3882F6;
    margin: 20px;
    padding: 10px;
    max-width: 70px;
    text-align: center;
    border-radius: 10px;
}
.signup a{
    text-decoration: none;
    color: #E5E7EB;
    text-align: center;
}
.second{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}
.second img{
    max-width: 300px;
    max-height: 300px;
}
.second .text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}
.one, .two, .three, .four{
    align-self: auto;
    display: flex;
    flex-direction: column;
    
}
.inside{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    gap: 25px;
}
.one text, .two text, .three text, .four text{
    text-align: center;
    margin-top: 20px;
}